.Menu{
    border-radius: 50%;
}

.Hamburguer{
    display: block;
    position: relative;
    
}

.Hamburguer:before,
.Hamburguer:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .75s ease-in-out;
}

