.Menu{
    border-radius: 50%;
}

.Menu_ellipsis{
    display: none;
}

.Ellipsis{
    display: block;
    position: relative;
    border-radius: 50%;
}

.Ellipsis:before,
.Ellipsis:after {
    display: block;
    border-radius: 20px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .75s ease-in-out;
}

.Ellipsis:before{
    /* top: -10px; */
}
.Ellipsis:after{
    /* bottom: -10px; */
}
.Menu_ellipsis:checked ~ label .Ellipsis{
    width: 3px;
    /*height: 25px;*/
    /*top: 8px;*/
    /*left:18px;*/
}
.Menu_ellipsis:checked ~ label .Ellipsis:before{
    transform: rotate(90deg);
    top: 0;
}
.Menu_ellipsis:checked ~ label .Ellipsis:after{
    transform: rotate(90deg);
    bottom: 0;
}
/* .Menu{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.Menu_ellipsis{
    display: none;
}

.Ellipsis{
    display: block;
    width: 7px;
    height: 7px;
    position: relative;
    border-radius: 50%;
    top: 22px;
    left:22px;
}

.Ellipsis:before,
.Ellipsis:after {
    display: block;
    border-radius: 20px;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .75s ease-in-out;
}

.Ellipsis:before{
    top: -12px;
}
.Ellipsis:after{
    bottom: -12px;
}
.Menu_ellipsis:checked ~ label .Ellipsis{
    width: 3px;
    height: 30px;
    top: 10px;
    left:25px;
}
.Menu_ellipsis:checked ~ label .Ellipsis:before{
    transform: rotate(90deg);
    top: 0;
}
.Menu_ellipsis:checked ~ label .Ellipsis:after{
    transform: rotate(90deg);
    bottom: 0;
} */